#!/usr/bin/make -f

#export DH_VERBOSE = 1


# See FEATURE AREAS in dpkg-buildflags(1).
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

export QT_SELECT=qt5


%:
	dh $@


override_dh_auto_build:
	qmake $(CURDIR) && make -j2 

override_dh_auto_clean:
	dh_auto_clean
	find $(CURDIR) -name "*.o" -delete
	find $(CURDIR) -name "*.h" -delete

override_dh_install:
	dh_install
	mkdir -pv $(CURDIR)/debian/johnny/usr/share/johnny/

	mv $(CURDIR)/johnny $(CURDIR)/debian/johnny/usr/share/johnny
